<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en" ng-app="coreApp"> <!--<![endif]-->  
	<head>
		<title>Active | Welcome...</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<base href="/">
		
		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/smartadmin-skins.css">
		
		<!-- CUSTOM CSS -->
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/my_style.css">
		
		<!-- FAVICONS -->
		<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
		
		<!-- THEME SCRIPTS -->
		<script src="/assets/js/theme/libs/jquery-2.0.2.min.js"></script>
		<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/js/theme/smartwidgets/jarvis.widget.min.js"></script>
		<script src="/assets/plugins/superbox/superbox.min.js"></script>
		<script src="/assets/plugins/dropzone/dropzone.js"></script>
		<script src="/assets/plugins/select2/select2.min.js"></script>
		<script src="/assets/js/theme/app.js"></script>
		
		<!-- AngularJS -->
		<script src="/assets/plugins/angular/js/angular.js"></script>
		<script src="/assets/plugins/angular/js/angular-route.min.js"></script>
		<script src="/assets/plugins/angular/js/angular-resource.min.js"></script>
		<script src="/assets/plugins/angular/js/angular-sanitize.min.js"></script>
		<script src="/assets/plugins/angular/js/ngStorage.min.js"></script>
		<script src="/assets/plugins/angular/js/oauth-ng.js"></script>
		<script src="/assets/plugins/angular/js/scroll/ng-infinite-scroll.min.js"></script>
		
		<script src="/assets/plugins/angular/js/videogular/videogular.min.js"></script>
		<script src="/assets/plugins/angular/js/videogular/vg-controls.js"></script>
		<script src="/assets/plugins/angular/js/videogular/vg-overlay-play.js"></script>
		<script src="/assets/plugins/angular/js/videogular/vg-poster.js"></script>
		<script src="/assets/plugins/angular/js/videogular/vg-buffering.js"></script>
		
		<script>
			angular.module("coreApp", ['ngRoute', 'ngResource', 'ngSanitize',
				'ngStorage', 'oauth', "infinite-scroll", "coreServices", "coreFilters", 
				"com.2fdevs.videogular",
				"com.2fdevs.videogular.plugins.controls",
				"com.2fdevs.videogular.plugins.overlayplay",
				"com.2fdevs.videogular.plugins.poster",
				"com.2fdevs.videogular.plugins.buffering"]);
		</script>
		
		<script src="/assets/js/core/interceptors/interceptors.js"></script>
		<script src="/assets/js/core/configs/configs.js"></script>
		<script src="/assets/js/core/routes/routes.js"></script>
		<script src="/assets/js/core/filters/filters.js"></script>
		<script src="/assets/js/core/controllers/controllers.js"></script>
		<script src="/assets/js/core/services/services.js"></script>
		<script src="/assets/js/core/directives/directives.js"></script>
	</head>	

	<body class="">
		<!-- HEADER -->
		<header id="header">
			<!-- pulled right: nav area -->
			<div id="logo-group">
				<div style="margin-left:5px;"><img src="/assets/img/active_logo.png" alt="ActiveCore"></div>			
			</div>
			<div id="my-project-context"></div>
			<div class="pull-right">
				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->

				<div id="logout" class="btn-header transparent pull-right">
					<div oauth site="http://156.148.132.79:8000" 
						   template="/assets/js/core/views/templates/custom.html"
						   client-id="bm_e3u64Wqlsiw?aY@lgTL5_YIz2Q-JlY!p2KBo0"
						   redirect-uri="http://156.148.132.79:3000" 
						   scope="public"
						   state="random_state_string">
					</div>
				</div>
				
				<!-- search mobile button (this is hidden till mobile view port) -->
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<!-- end search mobile button -->

				<!-- input: search field -->
				<form action="#ajax/search.html" class="header-search pull-right">
					<input type="text" placeholder="Search form" id="search-fld">
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
					<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
				</form>
				<!-- end input: search field -->
			</div>
		</header>
		<!-- END HEADER -->

		<!-- NAVIGATION -->
		<aside id="left-panel">
			<nav ng-include="'/assets/js/core/views/nav.html'"></nav>
		</aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">
			<ng-view />
		</div>
		<!-- END MAIN PANEL -->
		
		<!-- THEME SCRIPTS -->
		<script src="/assets/js/theme/page.js"></script>
	</body>
</html>
