<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Active | Welcome...</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<base href="/">
		
		<link href="/assets/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css" />  
		<link href="/assets/theme/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/theme/css/AdminLTE.css" rel="stylesheet" type="text/css" />
		<link href="/assets/theme/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/theme/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="/assets/plugins/photoswipe/photoswipe.css" rel="stylesheet" /> 
		<link href="/assets/plugins/photoswipe/default-skin/default-skin.css" rel="stylesheet" /> 
		<link href="/assets/theme/css/dropzone.css" rel="stylesheet" type="text/css" /> 
		<link href="/assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
		<link href="/assets/theme/css/style.css" rel="stylesheet" type="text/css" /> 

	</head>	

	<body setting-layout class="skin-blue fixed">
		<div ui-view="root" autoscroll="false" class="wrapper"></div>
		<script src="/assets/app/rconfig.js"></script>
		<script src="/assets/plugins/require/require.js" data-main="/assets/app/main"></script>
	</body>
</html>
