<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Training Set</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<base href="/training_set_manager/">
		
		<link href="/static/assets/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css" />  
		<link href="/static/assets/theme/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/theme/css/AdminLTE.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/theme/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/theme/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/theme/css/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/theme/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
		<link href="/static/assets/theme/css/style.css" rel="stylesheet" type="text/css" /> 

	</head>	

	<body setting-layout class="skin-blue fixed">
		<div ui-view="root" autoscroll="false" class="wrapper"></div>
		<script src="/static/assets/apps/rconfig.js"></script>
		<script src="/static/assets/plugins/require/require.js" data-main="/static/assets/apps/main"></script>
	</body>
</html>
