<span class="counter-img">
	<i class="fa fa-photo"></i>
	<b class="ribbon bounceIn animated" ng-class="selectedItems.length == 0 ? 'color-red' : ''"> {{selectedItems.length}} </b>
</span>
<div id="counter-container">
	<span>Items:</span>
	<span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">Selected items <i class="fa fa-angle-down"></i></span>
	<ul class="dropdown-menu scrollable-menu">
		<li ng-repeat="item in selectedItems">
			<a href="javascript:void(0);">{{item.id}} - {{item.filename}}</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="javascript:void(0);" ng-click="unselectItems()">
				<i class="fa fa-power-off"></i>
				Clear
			</a>
		</li>
	</ul>
</div>
