<div class="row margin_bottom_10" ng-controller="managerCtrl">
	<div class="col-sm-12">
		<!--<div class="manager-box col-lg-2 col-xs-12" widget-select></div>-->
		<div class="manager-box col-lg-2 col-xs-12" widget-counter></div>
		<div class="manager-box col-lg-2 col-xs-7 float_right" widget-select2></div>
		<div class="manager-box col-lg-1 col-xs-5 float_right" ng-show="selectedScript">
			<a ng-click="executeScript()" class="btn btn_action btn-default"> Start </a>
		</div>
	</div>
</div>

<div class="row" ng-controller="galleryCtrl">
	
	<div id="gallery" class="superbox col-sm-12" infinite-scroll="nextPage()" infinite-scroll-disabled="busy" infinite-scroll-immediate-check="false">
		<div id="item_{{item.id}}" class="superbox-list" ng-repeat="item in items" ng-click="selectItem($event, item)">
			<img ng-src="{{dataUrl}}" preload-file preload-item="item" preload-type="thumb" widget-context alt="{{item.id}}" title="{{item.filename}}" class="superbox-img">
			<span class="superbox-img-title">{{item.filename | limitTo:12}}</span>
		</div>
		<div class="superbox-float"></div>
	</div>
	<div class="superbox-show" style="height:300px; display: none"></div>
	
	<div class="modal fade" id="delete_item_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Delete item</h4>
				</div>
				<div class="modal-body">
					WARNING! Choosing to continue the item will be permanently deleted from the system.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="deleteCurrentItem()">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-2 no-padding context-menu" ng-controller="contextMenuCtrl">
		<div class="box box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">Actions</h3>
			</div>
			<div class="box-body no-padding">
				<ul class="context-menu_items nav nav-pills nav-stacked" role="menu">
					<li class="context-menu_item" role="menu-item" ng-repeat="script in scripts | orderBy:'title'" tabindex="{{$index + 1}}">
						<a href="#" class="context-menu__link" ng-click="launchScript($event, script.id)">
							<i class="fa fa-circle-o"></i> {{script.title}}
						</a>
					</li>
				</ul>
				<ul class="context-menu_items nav nav-pills nav-stacked" role="menu">
					<li class="context-menu_item" role="menu-item">
						<a href="#" class="context-menu__link" ng-click="launchTool('navigator')">
							<i class="fa fa-circle-o"></i> Launch navigator
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>



