<div class="row">
	<div class="col-md-12" ng-controller="elementCtrl">
		<div class="box" ng-controller="permissionCtrl">
			
			<div class="box-header">
				<h3 class="box-title">Permission form</h3>
			</div>
			
			<form role="form" ng-submit="saveEdit(currentElement, 'permissions')" id="permission-form">
				
				<div class="box-body">
					
					<div class="form-group">
						<section class="col col-md-6 col-lg-6 no-padding-left">
							<label for="name">Name</label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input id="name" class="form-control" type="text" ng-model="currentElement.name" placeholder="Name">
							</div>
						</section>
						<section class="col col-md-6 col-lg-6 no-padding-left">
							<label>Content type</label>
							<div id="widgetScrollbar" ng-controller="scrollbarCtrl" widget-radio scrollbar-service="ContentType" style="height:80px;"></div>   
						</section>
					</div>
					
				</div>
				
				<div class="box-footer">
					<button type="submit" class="btn btn-primary"> Save </button>
					<button type="button" class="btn btn-success" ng-click="backList('permissions')"> Permission list </button>
				</div>
				
			</form>
			
		</div>
	</div>
</div>
