<div class="box" ng-controller="permissionTableCtrl">
	<div class="box-header">
		<h3 class="box-title">Permission list</h3>
		<span class="table_label"><a href="/permissions/new">New Permission</a></span>
	</div>
	<div class="box-body">
		<div st-table="gridOptions.rowCollection" class="dataTables_wrapper form-inline">
			<table class="table table-bordered table-striped dataTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Content type</th>
						<th>Codename</th>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in gridOptions.rowCollection">
						<td><a href="/permissions/{{row.id}}">{{row.id}}</a></td>
						<td>{{row.content_type}}</td>
						<td>{{row.codename}}</td>
						<td>{{row.name}}</td>
						<td class="text-center">
							<a class="btn btn-sm-table btn-danger" ng-click="removeRow(row)" type="button" alt="delete">
								<i class="fa fa-remove"> </i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-xs-6">
					<div class="dataTables_info">Showing {{1 + gridOptions.pageSize*(gridOptions.currentPage - 1)}} to {{gridOptions.pageSize*(gridOptions.currentPage - 1) + gridOptions.rowCollection.length}} of {{gridOptions.totalItems}} entries</div>
				</div>
				<div class="col-xs-6" widget-paginator></div>
			</div>
		</div>
	</div>
</div>
