<div class="row">
	<div class="col-md-12" ng-controller="elementCtrl">
		<div class="box" ng-controller="userCtrl">
			
			<div class="box-header">
				<h3 class="box-title">User form</h3>
			</div>
			
			<form role="form" ng-submit="saveEdit(currentElement, 'users')" id="user-form">
				
				<div class="box-body">
					
					<div class="form-group">
						<section class="col col-md-6 col-lg-6 no-padding-left">
							<label for="first_name">First name</label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input id="first_name" class="form-control" type="text" ng-model="currentElement.first_name" placeholder="First name">
							</div>
						</section>
						<section class="col col-mg-6 col-lg-6 no-padding-right">
							<label for="last_name">Last name</label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input id="last_name" class="form-control" type="text" ng-model="currentElement.last_name" placeholder="Last name">
							</div>
						</section>
					</div>
					
					<div class="form-group">
						<section class="col col-md-6 col-lg-6 no-padding-left">
							<label for="username">Username</label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input id="username" class="form-control" type="text" ng-model="currentElement.username" placeholder="Username">
							</div>
						</section>
						<section class="col col-md-6 col-lg-6 no-padding-right" ng-show="createStatus">
							<label for="username">Password</label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-user"></i>
								</span>
								<input id="password" class="form-control" type="password" ng-model="currentElement.password" placeholder="Password">
							</div>
						</section>
					</div>
					
					<div class="form-group">
						<section class="col col-mg-6 col-lg-6 no-padding-left">
							<label for="email">Email</label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-envelope"></i>
								</span>
								<input id="email" class="form-control" type="email" ng-model="currentElement.email" placeholder="Email">
							</div>
						</section>
						<section class="col col-md-6 col-lg-6 no-padding-right">
							<label>Groups</label>
							<div id="widgetScrollbar" ng-controller="scrollbarCtrl" widget-checkbox scrollbar-service="Group" style="height:80px;"></div>
						</section>
					</div>
				</div>
				
				<div class="box-footer">
					<button type="submit" class="btn btn-primary"> Save </button>
					<button type="button" class="btn btn-success" ng-click="backList('users')"> User list </button>
				</div>
				
			</form>
			
		</div>
	</div>
</div>
