.vertical_align{
	padding: 24px 8px 10px 8px !important;
}

.vertical_align_btn{
	padding: 22px 8px 10px 8px !important;
}

.padding_bottom_15{
	padding-bottom: 15px;
}

.purge-btn{
	position: absolute;
    	right: 0px;
    	top: -50px;
}

.filter-select{
	position: absolute;
    left: 0px;
    top: -49px;
}

.filter-select .input-group {
    width: 180px !important;
}

/** template custom-details **/

.ul-custom{
	clear:both;
	overflow:hidden;
}

.button-footer-custom{
	background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
    	padding: 14px 14px 14px;
    	text-align: right;
}

/** tab color **/
.tab-color{
	color: #333 !important;
}

