<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-jobs" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Jobs</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- widget content -->
					<div class="widget-body">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Status</th>
									<th>Queues</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="worker in workers">
									<td class="vertical_align"><a ng-click="getWorker(worker.id)" style="cursor: pointer;">{{worker.id}}</a></td>
									<td class="vertical_align">{{worker.status}}</td>
									<td class="vertical_align">{{worker.queues[0]}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- end widget content -->
				</div>
			</div>
		</article>
		<!-- END NEW WIDGET START -->
	</div>
	<!-- end row -->
</section>
<!-- end widged grid -->
