
body { 
	margin: 0px 0px 0px 0px;
	height: 100%;
	width:100%;
/*
	font-family:"Impact", Charcoal, sans-serif; 
*/
	font-family:sans-serif; 
	overflow: hidden;
	background-color: #2c3e50;
}

#header{

	top: 0%;/**/
	width: 100%;
	height: 5%;		
	text-align: center;
	position: fixed; 
	color: #89c4f4;
	font-size: 25px;
	vertical-align: middle;

	background-color: #2c3e50;
	
	
}

#menu {
	top: 0%;
	position: absolute;
	height: 5%;
	width: 15%;
	left: 0%;
	cursor: pointer;
	display: inline-block;
	text-align:center;
	color: #89c4f4;
	font-size: 20px;
	background-color:#22313f;
	
}

#menu img {
	
	height: 70%;
	vertical-align: middle;
	
}
 



#media-player {
	top: 5%;  /* 0*/
	
	left: 0%;
	position: fixed;

	background-color:black;
	width:100%;
	height: 70%; /**/
	text-align: center;
	
}

#playlist{
	position: absolute;
	top: 0%;
	left: 0%;
	
	width: 15%;
	overflow: auto;
	display: none;
	
	background-color:rgba(34,49,63,0.7);
	
    
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
	
}

#playlist li{
/*
	color: #1e8bc3;
*/
	color: #89c4f4;
	font-size: 110%;
	margin-bottom: 3%;
	margin-left: 6%;
	text-align: left;
}

#playlist h2{
	color: #1e8bc3;
	text-align: left;
	margin-left: 13%;
}
li:hover{

	cursor:pointer;
	text-decoration: underline;
	font-weight: bold;
}


video {

	background:#000;
	width: 80%;
    max-height: 80%;
   
    position: relative;
	top: 50%;
	transform: translateY(-50%);

}



.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}


.timeline {
	
	width: 90%;
	
	margin-bottom: 5px;
	position: relative;	
	
  
}

#videoline{
	height: 38px;
	border-radius: 10px;
	

}


#move_head{
/*
	position: absolute
*/
	width: 10px;
/*
	height: 40px;
*/
	
/*
	background-color:#3A539B;
*/
	z-index: 1;
	left: 0%;

 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
}

 #timeline_collector{
 
	position: absolute;
	top: 79%;
	left: 0%;
	width:100%;
	
	background-color: #2c3e50;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 16%;
	
	overflow-y: auto;
	
}
 
#timetable{
	width:100%;
}

#timetable td{
	text-align: right;
	vertical-align: top;
	
}

#videoline div{
	
	position: absolute;
	height: 100%;
/*
	background: #1e8bc3;
*/
/*
	cursor: pointer;
*/
	display: inline-block;
	text-align: center;
/*
	border: solid 1px black;
*/
/*
	overflow-x:auto;
*/
/*
	padding: 5px 5px 5px 5px;
*/
/*
	word-wrap:break-word;
*/
	
/*
	opacity:0.5;
*/
}
/*

#timetable td span{
	

}*/
.tdspan{
	margin-top: 0px;
	font-size:14px;
/*
	height: 14px;
*/
	vertical-align: top;
/*
	background: #446cb3; 
*/
	background: #1e8bc3;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

#time_span{
	position: absolute;
	left:0%;
}

#icons{

	background-color:#22313f;
	text-align: center;
	width:100%;
	height: 4%; /**/
	line-height: 97%;
	position: fixed;
	top: 75%;
	
	
	
}

#dropped{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 12px;

}


#icons img {
	vertical-align: middle;
	cursor: pointer;
	height: 100%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	

}




