<ul ng-controller="navCtrl">
	<li class="">
		<a href="/"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-lg fa-fw fa-users"></i>
			<span class="menu-item-parent">People</span>
		</a>
		<ul>
			<li><a id="list" href="/users">User list</a></li>
			<li><a id="list" href="/groups">Group list</a></li>
		</ul>
	</li>
	<li class="">
		<!--<a href="/items"><i class="fa fa-lg fa-fw fa-photo"></i> <span class="menu-item-parent">Items</span></a>-->
		<a href="#">
			<i class="fa fa-lg fa-fw fa-photo"></i>
			<span class="menu-item-parent">Items</span>
		</a>
		<ul>
			<li><a id="item_load" href="/items/upload">Load</a></li>
			<li><a id="item_list" href="/items">Item list</a></li>
		</ul>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
			<span class="menu-item-parent">Plugins</span>
		</a>
		<ul>
			<li><a id="plugin_load" href="/plugins/upload">Load</a></li>
			<li><a id="plugin_list" href="/plugins">Plugin list</a></li>
		</ul>
	</li>
</ul> 
<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>
<script>
	pageSetUp();
</script>
