<!-- RIBBON -->
<div id="ribbon" ng-controller="ribbonCtrl">

	<span class="ribbon-button-alignment" ng-click="reload()"> 
		<span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> 
	</span>

	<!-- breadcrumb -->
	<ol class="breadcrumb">
		<li>Home</li>
		<li>Plugin list</li>
		<li>new</li>
	</ol>
	<!-- end breadcrumb -->

</div>

<div id="content">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-form-create-plugin" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Plugin Upload </h2>				
				</header>
				<div>
					<div id="dropzoneContainer" class="widget-body">
						<form class="dropzone" id="myDropzonePlugin"></form>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
