<!-- RIBBON -->
<div id="ribbon" ng-controller="ribbonCtrl">

	<span class="ribbon-button-alignment" ng-click="reload()"> 
		<span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> 
	</span>

	<!-- breadcrumb -->
	<ol class="breadcrumb">
		<li>Home</li>
		<li>User list</li>
		<li ng-show="currentUser.id">User {{currentUser.id}}</li>
	</ol>
	<!-- end breadcrumb -->

</div>

<!-- MAIN CONTENT -->
<div id="content">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-form-create-user" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>User Form </h2>				
				</header>
				<div>
					<div class="jarviswidget-editbox"> </div>
					<div class="widget-body no-padding">
						<form name="userForm" ng-submit="saveEdit(currentUser)" id="user-form" class="reg-form smart-form" novalidate>
						
							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="label">First name</label>
										<label class="input"> <i class="icon-prepend fa fa-user"></i>
											<input type="text" name="first_name" ng-model="currentUser.first_name" />
										</label>
									</section>
									<section class="col col-6">
										<label class="label">Last name</label>
										<label class="input"> <i class="icon-prepend fa fa-user"></i>
											<input type="text" name="last_name" ng-model="currentUser.last_name" />
										</label>
									</section>
								</div>
							
								<div class="row">
									<section class="col col-6">
										<label class="label">Email</label>
										<label class="input"> <i class="icon-prepend fa fa-at"></i>
											<input type="email" name="email_address" ng-model="currentUser.email" />
										</label>
									</section>
									<section class="col col-6">
										<label class="label">Password</label>
										<label class="input"> <i class="icon-prepend fa fa-lock"></i>
											<input type="password" name="password" ng-model="currentUser.password" />
										</label>
									</section>
								</div>
								
								<div class="row">
									<section class="col col-6">
										<label class="label">Role</label>
										<label class="select">
											<select name="role" ng-model="currentUser.role">
												<option value="ROLE_ADMIN">Admin</option>
												<option value="ROLE_CONTRIBUTOR">Contributor</option>
												<option value="ROLE_USER">End user</option>
											</select> <i></i>
										</label>
									</section>
								</div>
							</fieldset>
							
							<footer>
								<button type="submit" class="btn btn-primary"> Save </button>
								<button type="button" class="btn btn-success" ng-click="backUserList()"> User list </button>
							</footer>
						</form>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
<!-- MAIN CONTENT -->

<script type="text/javascript">
	pageSetUp();
</script>
