<div class="row margin_bottom_10" ng-controller="managerCtrl">
	<div class="col-sm-12">
		<div class="manager-box col-lg-2 col-xs-12" widget-counter></div>
		<div class="manager-box col-lg-3 col-xs-7 float_right" widget-select2>
			<select id="s2" class="select2" ng-model="selectedModel"></select>
		</div>
		<div class="manager-box col-lg-1 col-xs-5 float_right" ng-show="selectedModel && selectedItems.length > 0">
			<a ng-click="bindInstance()" class="btn btn_action btn-default"> Bind </a>
		</div>
	</div>
</div>

<div class="row" ng-controller="instanceBaseCtrl">
	<div ng-controller="videoInstanceCtrl">
		<div id="gallery" class="superbox col-sm-12" infinite-scroll="nextPage()" infinite-scroll-disabled="busy" infinite-scroll-immediate-check="false">
			<div id="item_{{item.id}}" class="superbox-list" ng-repeat="item in items" ng-click="selectItem($event, item)">
				<img ng-src="{{dataUrl}}" preload-file preload-item="item" preload-type="thumb" widget-context alt="{{item.id}}" title="{{item.thumbnail.split('/')[item.thumbnail.split('/').length - 1]}}" class="superbox-img" ng-click="showPlayer($event)">
				<span class="superbox-img-title">{{item.id}} - {{item.thumbnail.split('/')[item.thumbnail.split('/').length - 1] | limitTo:10}}</span>
			</div>
			<div class="superbox-float"></div>
		</div>
		<div class="superbox-show" style="height:300px; display: none"></div>
	
		<div class="col-md-2 no-padding context-menu" ng-controller="contextMenuCtrl">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Actions</h3>
				</div>
				<div class="box-body no-padding">
					<ul class="context-menu_items nav nav-pills nav-stacked" role="menu">
						<li class="context-menu_item" role="menu-item">
							<a href="#" class="context-menu__link" ng-click="deleteInstance()">
								<i class="fa fa-circle-o"></i> Delete instance
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>



