<div class="box" ng-controller="userTableCtrl">
	<div class="box-header">
		<h3 class="box-title">User list</h3>
		<span class="table_label"><a href="/users/new">New User</a></span>
	</div>
	<div class="box-body">
		<div st-table="gridOptions.rowCollection" class="dataTables_wrapper form-inline">
			<table class="table table-bordered table-striped dataTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in gridOptions.rowCollection">
						<td><a href="/users/{{row.id}}">{{row.id}}</a></td>
						<td>{{row.first_name}}</td>
						<td>{{row.last_name}}</td>
						<td>{{row.email}}</td>
						<td class="text-center">
							<button class="btn btn-sm-table btn-danger" ng-click="removeRow(row)" type="button">
								<i class="fa fa-remove"> </i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-xs-6">
					<div class="dataTables_info">Showing {{1 + gridOptions.pageSize*(gridOptions.currentPage - 1)}} to {{gridOptions.pageSize*(gridOptions.currentPage - 1) + gridOptions.rowCollection.length}} of {{gridOptions.totalItems}} entries</div>
				</div>
				<div class="col-xs-6" widget-paginator></div>
			</div>
		</div>
	</div>
</div>
