<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en" ng-app="jobmonitorApp"> <!--<![endif]-->  
	<head>
		<title>JobMonitor | Welcome...</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<base href="/jobmonitor">
		
		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/static/assets/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="/static/assets/css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/static/assets/css/smartadmin-skins.css">
		
		<!-- CUSTOM CSS -->
		<link rel="stylesheet" type="text/css" media="screen" href="/static/assets/css/my_style.css">
		
		<!-- FAVICONS -->
		<link rel="shortcut icon" href="/static/assets/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/assets/img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
		
		<!-- THEME SCRIPTS -->
		<script src="/static/assets/js/theme/libs/jquery-2.0.2.min.js"></script>
		<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/assets/js/theme/smartwidgets/jarvis.widget.min.js"></script>
		<script src="/static/assets/js/theme/app.js"></script>
		
		<!-- AngularJS -->
		<script src="/static/assets/plugins/angular/js/angular.min.js"></script>
		<script src="/static/assets/plugins/angular/js/angular-route.min.js"></script>
		<script src="/static/assets/plugins/angular/js/angular-poller.min.js"></script>
		<script src="/static/assets/plugins/angular/js/ng-websocket.js"></script>
		
		<script>
			angular.module("jobmonitorApp", ["ngRoute", "emguo.poller", "ngWebsocket", "jobmonitorServices"]);
		</script>
		
		<script src="/static/assets/js/jobmonitor/controllers/controllers.js"></script>
		<script src="/static/assets/js/jobmonitor/routes/routes.js"></script>
		<script src="/static/assets/js/jobmonitor/services/services.js"></script>
		<script src="/static/assets/js/jobmonitor/directives/directives.js"></script>
	</head>	

	<body class="">
		<!-- HEADER -->
		<header id="header">
			<!-- pulled right: nav area -->
			<div class="pull-right">
				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->

				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="login.html" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<!-- end logout button -->
			</div>
		</header>
		<!-- END HEADER -->

		<!-- NAVIGATION -->
		<aside id="left-panel">
			<nav ng-include="'/static/assets/js/jobmonitor/views/nav.html'"></nav>
		</aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">
			<ng-view />
		</div>
		<!-- END MAIN PANEL -->
		
		<!-- THEME SCRIPTS 
		<script src="/static/assets/js/theme/libs/jquery-2.0.2.min.js"></script>
		<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/assets/js/theme/smartwidgets/jarvis.widget.min.js"></script>
		<script src="/static/assets/plugins/datatables/jquery.dataTables-cust.min.js"></script>
		<script src="/static/assets/plugins/datatables/FixedColumns.min.js"></script>
		<script src="/static/assets/plugins/datatables/media/js/TableTools.min.js"></script>
		<script src="/static/assets/plugins/datatables/DT_bootstrap.js"></script>-->
		<script src="/static/assets/js/theme/page.js"></script>
	</body>
</html>

