
body { 
	margin: 0px 0px 0px 0px;
	height: 100%;
	width:100%;
/*
	font-family:"Impact", Charcoal, sans-serif; 
*/
	font-family: sans-serif; 
	overflow: hidden;
	background-color: #2c3e50;
}
/*

#draggable5{
    width: 3%;
    left:0%;
    heigth: 100%;
}
*/

#media-player {
	top: 0%;
	left: 0%;
	position: fixed;

	background-color:black;
	width:100%;
	height: 65%;
	text-align: center;
	
}



#move_head{
/*
	position: absolute
*/
	width: 0%;
	height: 10px;
	
	background-color:#89c4f4;
	
	left: 0%;

	
}

#progressbar{
	cursor: pointer;
}



video {

	background:#000;
	width: 80%;
    max-height: 80%;
   
    position: relative;
	top: 50%;
	transform: translateY(-50%);

}



.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}


.timeline {
	
	width: 95%;
	height: 10px;
	margin-bottom: 12px;
	position: relative;	
	border-radius: 15px;
	background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  
}


#timeline_collector{
 
	position: absolute;
/*
	top: 69%;
*/
	top: 74%;
	left: 0%;
	width:100%;
	
	background-color: #2c3e50;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 18.2%;
	
	overflow-y: auto;
	
}
 
.timetable{
	width:100%;
    table-layout:fixed;
}

.timetable td{
	text-align: right;
	vertical-align: top;
	
}

.timeline div{
	position: absolute;
	height: 10px;	
	background: #1e8bc3;
	cursor: pointer;
	display: inline-block;
	vertical-align:top;
}

#progresstable tr td:nth-child(-n+2) div{

	width:18px;
    height:18px;
	margin-left:5px;
    margin-right:5px;

}


/*

.timetable tr td:nth-child(-n+2){

    width:2%;

}
*/


.mediatable tr td:nth-child(-n+2){

    width:2%;

}


.timetable tr td:nth-child(3) span{
	
	margin-top: 0px;
	font-size:14px;
	height: 14px;
	vertical-align: top;
/*
	background: #1e8bc3;
*/
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	font-weight: bold;

}
/*

.timetable tr td:first-child img{
	
	height:18px;
	width:auto;
	margin-right:5px;
	cursor: pointer;
}
*/

.rmperson{

	width:18px;
/*
	width:auto;
*/
	margin-left:5px;
    margin-right:5px;

	cursor: pointer;
}

.showperson{


	width:18px;
/*
	width:auto;
*/
	margin-right:5px;
	margin-left:5px;
	cursor: pointer;

}

.editable-click { 
	border-bottom: none !important;
}


#icons{
	text-align: center;
	background-color:#22313f;	
	width:100%;
	height: 4%;
	line-height: 97%;
	position: fixed;
	top: 65%;	
}


#buttondiv{
	margin-bottom: 2%;
/*
	background: #6c7a89;
*/
	background: #34495e;
	text-align: center;
	padding:0.5%;
	top:69%;
	height: 5%;
	position: fixed;
	width:100%;
	

/*
	margin-left: 5%
*/
	
}


button{	
	cursor: pointer;

/*
	background: #68c3a3;
*/
	background: #6c7a89;
	color: black;
	border: 1px solid #aea8d3; 
	border-radius: 5px;
    height:60%;
    font-size: 100%;
    
}



#icons img {
	
	vertical-align: middle;
	cursor: pointer;
	height: 100%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	

}

.tdspan{
	font-weight: bold;
	margin-top: 0px;
	font-size:10px;

	height: 10px;
	vertical-align: top;
/*
	background: #446cb3; 
*/
/*
	background: #89c4f4;
*/
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.person{
	cursor: pointer;
}

.changeBackground{
   background-color: #cf000f !important;
}


#loading-indicator {
   vertical-align: middle;
}
