<videogular vg-player-ready="onPlayerReady($API)" vg-error="onError($event)" vg-theme="config.theme.url" vg-autoplay="config.autoPlay">
	<vg-media vg-preload="config.preload" vg-src="config.sources" vg-type="audio"></vg-media>
	<vg-controls>
		<vg-play-pause-button></vg-play-pause-button>
		<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
		<vg-scrub-bar>
			<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
		</vg-scrub-bar>
		<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
		<vg-volume>
			<vg-mute-button></vg-mute-button>
		</vg-volume>
	</vg-controls>
</videogular>
